{% extends 'home/base.html' %} {% block nav_item_mentor %}active{% endblock nav_item_mentor %} {% block content %} {% load static %}

<div class="card rounded-3 shadow">
    <img class="card-img-top " src="{% static 'home/images/mentorsbackground.png' %}" alt="">
</div>
<!-- /page title -->

<!-- teachers -->
<section class="section">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <!-- teacher category list -->
                <ul class="list-inline text-center filter-controls mb-5">
                    <li class="list-inline-item m-3 text-uppercase active" data-filter="all">All</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="science">SCINECE
                    </li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="business studies">business study</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="english">English
                    </li>
                    {% if flag %}
                    <li class="list-inline-item m-3 text-uppercase" data-filter="ict">ICT
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- teacher list -->
        <div class="row filtr-container">
            <!-- teacher -->

            {% for teacher_detail in teacher_details %}
            <div data-category="{{ teacher_detail.deparment }}" class="col-sm-3 mb-5 filtr-item">
                <div class="card border-0 rounded-0 shadow mb-1">
                    <img class="card-img-top rounded-0" src="{{ teacher_detail.image.url }}" alt="teacher">
                    <div class="card-body">
                        <a href="{% url 'teacher' teacher_detail.id %}">
                            <h4 class="card-title">{{ teacher_detail.name }}</h4>
                        </a>

                        <p>
                            <h6>
                                {% for subject in teacher_detail.mentoring_subject %} {% if forloop.last %} {{ subject }} {% else %} {{ subject }}, {% endif %} {% endfor %}
                            </h6>
                            {{ teacher_detail.subject }}, {{ teacher_detail.institute }}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="text-color" href="{{ teacher_detail.fb_link }}" target="_blank">
                                    <i class="ti-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-color" href="{{ teacher_detail.linkedin_link }}" target="_blank">
                                    <i class="ti-linkedin"></i></a>
                            </li>
                            {% if teacher_detail.gender|stringformat:"s" != "Female"|stringformat:"s" %}
                            <li class="list-inline-item"><abbr title="{{ teacher_detail.email }}">
                    <i class="ti-email"></i></abbr></li>
                            <li class="list-inline-item">
                                <abbr title="{{ teacher_detail.contact_no }}">
                    <i class="ti-mobile"></i></abbr></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- teacher -->

        </div>
    </div>
</section>
<!-- /teachers -->

{% endblock content %}