{% extends 'home/base.html' %} {% block content %} {% load static %}


<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item h2 text-primary font-secondary">Our Teacher</li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">
                        {{ object.name }}</li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- teacher details -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-5">
                <img class="img-fluid w-100" src="{{ object.image.url }}" alt="teacher">
            </div>
            <div class="col-md-6 mb-5">
                <h3>{{ object.name }}</h3>
                <h6 class="text-color">{{ object.subject }}, {{ object.institute }}</h6>
                <p class="mb-5">Here is a short description of our great mentor <big>{{ object.name }}</big> . He is a mentor of
                    <big>
            {% for subject in object.mentoring_subject %}
              {% if forloop.last %}
                 {{ subject }}
              {% else %}
                 {{ subject }},
              {% endif %}
            {% endfor %}
            </big> at steps. He has completed H.S.C from <big>{{ object.college }}</big> in {{ object.hsc_year }} and S.S.C from <big>{{ object.school }}</big> in {{ object.ssc_year }}</p>
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <h4 class="mb-4">CONTACT INFO:</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="mailto:{{ object.email }}"><i class="ti-email mr-2"></i>{{ object.email }}</a></li>
                            <li class="mb-3"><a class="text-color" href="callto:+{{ object.contact_no }}"><i class="ti-mobile mr-2"></i>+ {{ object.contact_no }}</a></li>
                            <li class="mb-3"><a class="text-color" href="{{ object.fb_link }}" target="_blank"><i class="ti-facebook mr-2"></i>{{ object.name }}</a></li>
                            <li class="mb-3"><a class="text-color" href="{{ object.linkedin_link }}" target="_blank"><i class="ti-linkedin mr-2"></i>{{ object.name }}</a></li>
                            <li class="mb-3"><a class="text-color"><i class="ti-location-pin mr-2">{{ object.address }}</i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4 class="mb-4">SUMMARY OF ACTIVITIES/INTERESTS</h4>
                        <ul class="list-unstyled">
                            {% for activites in object.summary_of_activites %}
                            <li class="mb-3">
                                <h6>{{ activites }}
                                    <h6>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4 class="mb-4">BIOGRAPHY</h4>
                <p class="mb-5">{{ object.bio }}</p>
            </div>
        </div>
        <div class="row justify-content">
            <div class="col-12">
                <h4 class="mb-4">Tutorials</h4>
            </div>
            {% for course in object.tutorials.all %}
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="{% static 'home/images/courses/course-4.jpg' %}" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{ course.uploaded_time.date }}</li>
                            <li class="list-inline-item"><a class="text-color" href="#">{{ course.course_name }}</a></li>
                        </ul>
                        <a href="{% url 'topicsingle' course.name_of_topic %}">
                            <h4 class="card-title">{{ course.name_of_topic }}</h4>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /teacher details -->


{% endblock content %}