{% extends 'home/base.html' %} {% block nav_item_about %}active{% endblock nav_item_about %} {% block content %} {% load static %}


<style>
    .card:hover {
        transform: scale(1.1);
    }
    
    .im {
        height: 200px;
        width: 200px;
    }
</style>
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'home/images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item h2 text-primary font-secondary">About Us</li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section-blog shadow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">ABOUT OUR JOURNY</h2>

                <abbr title="STEPS Iftar 2019"><img class="img-fluid w-75 mb-2 ml-3" src="{% static 'home/images/about/team.jpg' %}" alt="about image" style="float: right;"></abbr>
                <p>Two Friends; two dreamers; dreamt in their college life to do something; do something for our education system;for the bangladeshi students.They wanted to make a platform where they could bring the students to a new horizon of their life.
                    One of them got chance in Buet and other was in Dhaka University.The milestone might be founded in the basis of this phenomena.They founded a co-educational platform named "steps" so that they could help the students like them who
                    had enough potential and make them bloom. They made the things easier for the students to get chance in reputed universities.Every year few students got chance in public universities and they also joined at steps to contribute as well.They
                    also became the heroes of new students; became an ideal stepsian. During the pandemic of corona, parvej and rony, two pioneer, again founded this online platform named "stepsians" with the stepsians to support all the students from
                    home and the endless journey started, and obviously it is free.</p>
            </div>
        </div>
    </div>

</section>
<!-- /about -->
<hr>
<!-- Curriculum -->
<section class="section-blog shadow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <abbr title="Our Classrooms"><img class="img-fluid w-75" src="{% static 'home/images/about/Tree aboutus.png' %}" alt="about image" style="float: right;"></abbr>
                <h2 class="section-title" style="margin-top: 0px;">WHAT WE TEACH</h2>
                <p style="margin-top: 0px;">We believe that there is no boundary of teaching and learning. Hence you will find here both the academic lessons and sometimes you will be introduced with the lesson out of the box. In academic lessons we will support from the very begining
                    even it could be play group students to job preperations of freshly baked graduate. In non academic section you can get some skill development lessons of every aspects of life so far we can go.
                </p>
            </div>
        </div>
    </div>

</section>
<!--Curriculum-->
<hr>
<!-- funfacts -->
<section class="section-sm bg-primary shadow">
    <div class="container">
        <div class="row">
            <!-- funfacts item -->
            <div class="col-md-4 col-sm-3 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="text-white">{{ number_of_teacher }}</h2>
                    <h5 class="text-white">TEACHERS</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-4 col-sm-3 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="text-white">{{ number_of_course }}</h2>
                    <h5 class="text-white">COURSES</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-4 col-sm-3 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white">1000</h2>
                    <h5 class="text-white">STUDENTS</h5>
                </div>
            </div>

            <!-- funfacts item -->


        </div>
    </div>

</section>
<!-- /funfacts -->
<hr>
<!-- 
    <section class="section-blog bg-cover shadow" data-background="{% static 'home/images/about/about-page.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
                <a class="play-btn venobox" href="https://www.youtube.com/watch?v=j22ALPvcMzI" data-vbtype="video">
                    <i class="ti-control-play"></i>
                </a>
            </div>
            <div class="col-lg-6 col-sm-8">
                <div class="bg-white p-5">
                    <h2 class="section-title">Success Stories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
            </div>
        </div>
    </div>
</section>
 -->

<!-- /success story -->
<hr>
<!-- teachers -->
<section class="section-blog shadow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="section-title">Contact Us</h2>
            </div>
            <!-- teacher -->
            <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded-0 shadow border-primary">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="container">
                                <img class="card-img-top rounded-5 mt-2 im" style="height: auto;width: 100%;" src="{% static 'home/images/about/pv.jpg' %}" alt="teacher">
                            </div>

                        </div>

                        <div class="col-sm-7">

                            <!--Grid column-->
                            <div class="list-group-flush">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h5><i class="fa fa-phone-square h3" aria-hidden="true"></i></h5>
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>01922444626</h4>
                                            <h4>01232131312</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"> <i class="fa fa-facebook-square h3 mr-1" aria-hidden="true"></i> <a href="https://www.facebook.com/faruqueparvej15" style="color: #001128;">Faruque Parvej</a> </h5>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"><i class="fa fa-linkedin-square h3 mr-1" aria-hidden="true"></i>Faruque Parvej</h5>
                                </div>
                            </div>


                            <!--Grid column-->

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'teacher' 1 %}">
                                    <h4 class="card-title">Faruque Parvej</h4>
                                </a>
                                <div class="d-flex justify-content-between">
                                    <span>CEO(Science), STEPS</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-right mt-3">
                                    <span>MME</span>
                                </div>
                                <div class="text-right">
                                    <span>BUET</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-primary rounded-0 shadow">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="container ">
                                <img class="card-img-top rounded-10 mt-2 im" style="height: auto;width: 100%;" src="{% static 'home/images/about/ronybhai.jpg' %}" alt="teacher">
                            </div>

                        </div>

                        <div class="col-sm-7">

                            <!--Grid column-->
                            <div class="list-group-flush">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h5><i class="fa fa-phone-square h3" aria-hidden="true"></i></h5>
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>01678231110</h4>
                                            <h4>01232132131</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"> <i class="fa fa-facebook-square h3 mr-1" aria-hidden="true"></i> <a href="https://www.facebook.com/raqibhossain.rony" style="color: #001123;">Raqib Hossain Rony</a> </h5>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"><i class="fa fa-linkedin-square h3 mr-1" aria-hidden="true"></i>Raqib Hossain Rony</h5>

                                </div>
                            </div>


                            <!--Grid column-->

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'teacher' 2 %}">
                                    <h4 class="card-title">Raqib Hossain Rony</h4>
                                </a>
                                <div class="d-flex justify-content-between">
                                    <span>CEO(Business Studies), STEPS</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-right mt-3">
                                    <span>Finance</span>
                                </div>
                                <div class="text-right">
                                    <span>University Of Dhaka</span>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <!-- teacher -->

        </div>
    </div>
</section>
<!-- /teachers -->


{% endblock content %}