{% extends 'home/base.html' %} {% block nav_item_about %}active{% endblock nav_item_about %} {% block content %} {% load static %}


<style>
    .card:hover {
        transform: scale(1.1);
    }
    
    .im {
        height: 200px;
        width: 200px;
    }
</style>
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'home/images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">About Us</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <abbr title="STEPS Iftar 2019"><img class="img-fluid w-100 mb-4" src="{% static 'home/images/about/team.jpg' %}" alt="about image"></abbr>
                <h2 class="section-title">ABOUT OUR JOURNY</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ipsa illo
                    quod veritatis, magni debitis fugiat dolore voluptates! Consequatur, aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat perferendis sint optio similique. Et amet magni facilis vero corporis quos.</p>
                <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum
                    a, facere fugit error accusamus est officiis vero in, nostrum laboriosam corrupti explicabo, cumque repudiandae deleniti perspiciatis quae consectetur enim. Laboriosam!</p>
            </div>
        </div>
    </div>
</section>
<!-- /about -->

<!-- funfacts -->
<section class="section-sm bg-primary">
    <div class="container">
        <div class="row">
            <!-- funfacts item -->
            <div class="col-md-5 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="{{ number_of_teacher }}">0</h2>
                    <h5 class="text-white">TEACHERS</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-2 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="{{ number_of_course }}">0</h2>
                    <h5 class="text-white">COURSES</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-5 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="1000">0</h2>
                    <h5 class="text-white">STUDENTS</h5>
                </div>
            </div>

            <!-- funfacts item -->


        </div>
    </div>
</section>
<!-- /funfacts -->

<!-- success story -->
<section class="section bg-cover" data-background="{% static 'home/images/about/about-page.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
                <a class="play-btn venobox" href="https://www.youtube.com/watch?v=j22ALPvcMzI" data-vbtype="video">
                    <i class="ti-control-play"></i>
                </a>
            </div>
            <div class="col-lg-6 col-sm-8">
                <div class="bg-white p-5">
                    <h2 class="section-title">Success Stories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /success story -->

<!-- teachers -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="section-title">Contact Us</h2>
            </div>
            <!-- teacher -->
            <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 shadow">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="container">
                                <img class="card-img-top rounded-10 mt-2 im" src="{% static 'home/images/about/pv.jpg' %}" alt="teacher">
                            </div>

                        </div>

                        <div class="col-sm-7">

                            <!--Grid column-->
                            <div class="list-group-flush">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h5><i class="fa fa-phone-square h3" aria-hidden="true"></i></h5>
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>01922444626</h4>
                                            <h4>01232131312</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"> <i class="fa fa-facebook-square h3 mr-1" aria-hidden="true"></i>Faruque Parvej</h5>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"><i class="fa fa-linkedin-square h3 mr-1" aria-hidden="true"></i>Faruque Parvej</h5>
                                </div>
                            </div>


                            <!--Grid column-->

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'teacher' 1 %}">
                                    <h4 class="card-title">Faruque Parvej</h4>
                                </a>
                                <div class="d-flex justify-content-between">
                                    <span>CEO(Science)</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-right mt-3">
                                    <span>MME</span>
                                </div>
                                <div class="text-right">
                                    <span>BUET</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 shadow">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="container ">
                                <img class="card-img-top rounded-10 mt-2 im" src="{% static 'home/images/about/ronybhai.jpg' %}" alt="teacher">
                            </div>

                        </div>

                        <div class="col-sm-7">

                            <!--Grid column-->
                            <div class="list-group-flush">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h5><i class="fa fa-phone-square h3" aria-hidden="true"></i></h5>
                                        </div>
                                        <div class="col-sm-10">
                                            <h4>01678231110</h4>
                                            <h4>01232132131</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"> <i class="fa fa-facebook-square h3 mr-1" aria-hidden="true"></i>Raqib Hossain Rony</h5>
                                </div>
                                <div class="list-group-item">
                                    <h5 class="mb-0"><i class="fa fa-linkedin-square h3 mr-1" aria-hidden="true"></i>Raqib Hossain Rony</h5>

                                </div>
                            </div>


                            <!--Grid column-->

                        </div>
                    </div>

                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'teacher' 2 %}">
                                    <h4 class="card-title">Raqib Hossain Rony</h4>
                                </a>
                                <div class="d-flex justify-content-between">
                                    <span>CEO(Business Studies)</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-right mt-3">
                                    <span>Finance</span>
                                </div>
                                <div class="text-right">
                                    <span>University Of Dhaka</span>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <!-- teacher -->

        </div>
    </div>
</section>
<!-- /teachers -->


{% endblock content %}