{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Steps</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'home/plugins/bootstrap/bootstrap.min.css' %} ">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'home/plugins/themify-icons/themify-icons.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'home/plugins/animate/animate.css' %}">
    <!-- venobox popup -->
    <link rel="stylesheet" href="{% static 'home/plugins/venobox/venobox.css' %}">

    <!-- Main Stylesheet -->
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet">


    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'home/images/1.png' %}" type="image/x-icon">

</head>

<body style="background-color: rgb(255, 255, 255);">
    <!-- preloader start -->
    <div class="preloader">
        <img src="{% static 'home/images/preloader.gif' %}" alt="preloader">
    </div>
    <!-- preloader end -->
    <link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>

    </style>
    <style>
        .smart-scroll {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }
        
        .scrolled-down {
            transform: translateY(-100%);
            transition: all 0.3s ease-in-out;
        }
        
        .scrolled-up {
            transform: translateY(0);
            transition: all 0.3s ease-in-out;
        }
        
        .navbar {
            min-height: 80px;
        }
        
        .navbar-custom {
            background-color: #001123;
        }
        
        .fontstyle {
            font-family: 'Caesar Dressing';
            font-size: 22px;
        }
        
        .hv:hover {
            transform: scale(1.2);
        }
        
        @media screen and (max-width: 995px) {
            .ov {
                margin-left: auto;
                margin-right: auto;
            }
            .imov {
                margin-left: -15%;
            }
        }
        
        @media screen and (max-width: 767px) {
            .ov {
                margin-left: 33%;
            }
            .imov {
                margin-left: -40%;
            }
        }
        
        @media screen and (max-width: 575px) {
            .ov {
                margin-left: 0%;
            }
            .imov {
                margin-left: auto;
            }
        }
        
        @media screen and (max-width: 354px) {
            .tl {
                width: 150px;
            }
        }
    </style>
    <!-- header -->
    <header class="header">

        <!-- navbar -->
        <nav class="navbar navbar-custom smart-scroll navbar-expand-lg navbar-dark ">
            <img src="{% static 'home/images/2.png' %}" alt="" class="tl" style="width: 267px;height: auto;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item fontstyle fontstyle {% block nav_item_home %}{% endblock nav_item_home %}"> <a class="nav-link" href="{% url 'home' %}">Home </a> </li>
                    <li class="nav-item fontstyle {% block nav_item_about %}{% endblock nav_item_about %}"><a class="nav-link" href="{% url 'about' %}"> About </a></li>
                    <li class="nav-item dropdown view {% block nav_item_course %}{% endblock nav_item_course %}">
                        <a class="nav-link fontstyle dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CLASSROOM</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item fontstyle" href="{% url 'courseListHsc' %}">HSC</a>
                            <a class="dropdown-item fontstyle" href="{% url 'courseListSsc' %}">SSC</a>
                        </div>
                    </li>
                    <li class="nav-item fontstyle {% block nav_item_event %}{% endblock nav_item_event %}">
                        <a class="nav-link" href="{% url 'events' %}">EVENTS</a>
                    </li>
                    <li class="nav-item {% block nav_item_blog %}{% endblock nav_item_blog %}">
                        <a class="nav-link fontstyle" href="{% url 'blog' %}">BLOG</a>
                    </li>
                    <li class="nav-item dropdown view {% block nav_item_mentor %}{% endblock nav_item_mentor %}">
                        <a class="nav-link dropdown-toggle fontstyle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENTORS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item fontstyle" href="{% url 'teacher_hsc' %}">HSC</a>
                            <a class="dropdown-item fontstyle" href="{% url 'teacher_ssc' %}">SSC</a>
                        </div>
                    </li>
                    <li class="nav-item {% block nav_item_gallery %}{% endblock nav_item_gallery %}">
                        <a class="nav-link fontstyle" href="{% url 'gallery' %}">Gallery</a>
                    </li>
                </ul>
                </ul>
            </div>
            <!-- navbar-collapse.// -->
        </nav>


    </header>

    {% block content %}{% endblock %}
    <!-- footer -->
    <footer>
        <div class="footer bg-cover border-bottom" data-background="{% static 'home/images/footer.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 ov" style="text-align: center; padding: 20px;">
                        <!-- logo -->
                        <img src="{% static 'home/images/2.png' %}" alt="" style="width: 267px;height: auto;" class="imov">
                        <ul class="list-unstyled">
                            <li class="mb-2 text-white">STEPS Academic and Admission Care</li>
                            <li class="mb-2 text-white">Shahjadpur, Dhaka-1212</li>
                            <li class="mb-2 text-white">+880 1922-444626</li>
                            <li class="mb-2 text-white">+880 1678-231110</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 ov" style="text-align: center; padding: 20px;">
                        <!-- logo -->
                        <h2 class="text-white" style="text-align: center;">About</h2>
                        <ul class="list-unstyled">
                            <li class="mb-2 text-white"> <a href="" class="text-white">Team STEPS</a></li>
                            <li class="mb-2 text-white">Android App(Coming Soon)</li>
                            <li class="mb-2 text-white">IOS App(Coming Soon)</li>
                            <li class="mb-2 text-white">Magazine(Coming Soon)</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 ov" style="text-align: center; padding: 20px;">
                        <h2 class="text-white" style="text-align: center;">We are on</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item"><abbr title="Facebook Page"><a class="d-inline-block p-2" href="https://www.facebook.com/Stepsians-113518887048688/"><i class="fa fa-facebook-square h3 hv text-white" aria-hidden="true"></i></a></abbr></li>
                            <li class="list-inline-item"><abbr title="Facebook Group"><a class="d-inline-block p-2" href="https://www.facebook.com/groups/593585494697269/"><i class="fa fa-users h3 hv text-white" aria-hidden="true"></i></a></abbr></li>
                            <li class="list-inline-item"><abbr title="Youtube"><a class="d-inline-block p-2" href="https://www.youtube.com/channel/UCtNqYUh6N2jd8-lIrJfZgPw"><i class="fa fa-youtube-play h3 hv text-white" aria-hidden="true"></i></a></abbr></li>
                            <li class="list-inline-item"><abbr title="Instagram"><a class="d-inline-block p-2" href="https://www.instagram.com/_stepsians_/"><i class="fa fa-instagram h3 hv text-white" aria-hidden="true"></i></a></abbr></li>
                            <li class="list-inline-item"><abbr title="Twitter"><a class="d-inline-block p-2" href="https://twitter.com/stepsians"><i class="fa fa-twitter-square h3 hv text-white" aria-hidden="true"></i></a></abbr></li>
                        </ul>
                    </div>
                    <hr style="border-top: 1px solid rgba(210, 90, 90, 0.1);
                    width: 100%;">
                    <div class="col-sm-12">
                        <p class="text-white" style="text-align: center;">©
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>
                            <a href="{% url 'developer' %}" class="" style="color: #ECC02E;"> <b>STEPS IT</b> </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script>
        $('body').css('padding-top', $('.navbar').outerHeight() + 'px')

        // detect scroll top or down
        if ($('.smart-scroll').length > 0) { // check if element exists
            var last_scroll_top = 0;
            $(window).on('scroll', function() {
                scroll_top = $(this).scrollTop();
                if (scroll_top < last_scroll_top) {
                    $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
                } else {
                    $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
                }
                last_scroll_top = scroll_top;
            });
        }
    </script>

    <script src="{% static 'home/plugins/jQuery/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'home/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- venobox popup -->
    <script src="{% static 'home/plugins/venobox/venobox.min.js' %}"></script>
    <!-- filter -->
    <script src="{% static 'home/plugins/filterizr/jquery.filterizr.min.js' %}"></script>

    <!-- Main Script -->
    <script src="{% static 'home/js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>