{% extends 'home/base.html' %} {% block nav_item_home %}active{% endblock nav_item_home %} {% block content %} {% load static %}
<style>
    /* Blockquote main style */
    
    .blockquote {
        position: relative;
        font-family: 'Barlow Condensed', sans-serif;
        max-width: 620px;
        margin: 80px auto;
        align-self: center;
    }
    /* Blockquote header */
    
    .blockquote h1 {
        font-family: 'Abril Fatface', cursive;
        position: relative;
        /* for pseudos */
        color: #ff7300;
        font-size: 2.8rem;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        border: 2px solid #fff;
        border: solid 2px;
        border-radius: 20px;
        padding: 15px;
    }
    /* Blockquote right double quotes */
    
    .blockquote h1:after {
        content: "";
        position: absolute;
        border: 2px solid #ff7300;
        border-radius: 0 40px 0 0;
        width: 60px;
        height: 60px;
        bottom: -60px;
        left: 50px;
        border-bottom: none;
        border-left: none;
        z-index: 3;
    }
    
    .blockquote h1:before {
        content: "";
        position: absolute;
        width: 100px;
        border: 6px solid transparent;
        bottom: -5px;
        left: 50px;
        z-index: 2;
    }
    /* increase header size after 600px */
    
    @media all and (min-width: 600px) {
        .blockquote h1 {
            font-size: 1rem;
            line-height: 1.2;
        }
    }
    /* Blockquote subheader */
    
    .blockquote h4 {
        position: relative;
        color: #0f0442;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
        padding-top: 15px;
        z-index: 1;
        margin-left: 150px;
        padding-left: 12px;
    }
    
    .blockquote h4:first-letter {
        margin-left: -12px;
    }
</style>
<section>
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Light mask</h3>
                        <p>First text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Strong mask</h3>
                        <p>Secondary text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
</section>


<!-- about us -->
<section class="section" style="padding-top:100px;padding-bottom: 5px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 order-2 order-md-1">
                <img class="img-fluid w-50" src="static/home/images/about/Tree aboutus.png" alt="about image" style="float: right;">
                <h2 class="section-title">About <i>STEPS</i></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
                <p>cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <a href="{% url 'about' %}" class="btn btn-primary-outline">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- /about us -->

<section class="section">

    <div class="container">
        <h2 class="section-title">Quote</h2>
        <div class="list-group-flush">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-3 mt-2">
                        <img src="static/home/images/about/pv.jpg" class="w-100" alt="" style="border-radius: 50%;">
                    </div>
                    <div class="col-sm-9">
                        <div class="blockquote-wrapper">
                            <div class="blockquote">
                                <h1>
                                    Either you take lesson from your fault or it will take you to do crime!
                                </h1>
                                <h4>&mdash;Faruque Parvej<br><em>CEO</em></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="blockquote-wrapper">
                            <div class="blockquote">
                                <h1>
                                    Intuitive design happens when current knowledge is the same as thetarget knowledge.
                                </h1>
                                <h4>&mdash;Raqib Hossain Rony<br><em>CEO</em></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-2">
                        <img src="static/home/images/about/ronybhai.jpg" class="w-100" alt="" style="border-radius: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
<!-- /footer -->