{% extends 'home/base.html' %} {% block nav_item_home %}active{% endblock nav_item_home %} {% block content %} {% load static %}
<style>
    /* Blockquote main style */
    
    .blockquote {
        position: relative;
        max-width: 620px;
        margin: 80px auto;
        align-self: center;
    }
    /* Blockquote header */
    
    .blockquote h1 {
        font-family: 'overlockblack';
        position: relative;
        /* for pseudos */
        color: #ff7300;
        font-size: 20px;
        font-style: italic;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        border: 2px solid #fff;
        border: solid 2px;
        border-radius: 20px;
        padding: 15px;
    }
    /* Blockquote right double quotes */
    
    .blockquote h1:after {
        content: "";
        position: absolute;
        border: 2px solid #ff7300;
        border-radius: 0 40px 0 0;
        width: 60px;
        height: 60px;
        bottom: -60px;
        left: 50px;
        border-bottom: none;
        border-left: none;
        z-index: 3;
    }
    
    .blockquote h1:before {
        content: "";
        position: absolute;
        width: 100px;
        border: 6px solid transparent;
        bottom: -5px;
        left: 50px;
        z-index: 2;
    }
    /* increase header size after 600px */
    
    @media all and (min-width: 600px) {
        .blockquote h1 {
            font-size: 25px;
            line-height: 1.2;
        }
    }
    /* Blockquote subheader */
    
    .blockquote h4 {
        position: relative;
        color: #0f0442;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
        padding-top: 15px;
        z-index: 1;
        margin-left: 150px;
        padding-left: 12px;
    }
    
    .blockquote h4:first-letter {
        margin-left: -12px;
    }
    
    .style13 {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset;
    }
    
    @media screen and (max-width: 995px) {
        .btnpx {
            padding: 15px 20px;
        }
    }
    
    @media screen and (max-width: 355px) {
        .btnpx {
            padding: 15px 10px;
        }
    }
    
    @media screen and (max-width: 315px) {
        .btnpx {
            margin-top: 2px;
            padding: 15px 10px;
        }
    }
</style>
<section>
    <div class="row" style="align-items: center;">
        <div class="col-sm-6">
            <h1 class="ml-2 mt-1">Welcome to the community. You are free to learn and share anything.</h1>
        </div>
        <div class="col-sm-6">
            <img class="img-fluid w-100" src="static/home/images/homeclassroom.png" alt="about">
        </div>
    </div>
</section>

<hr class="style13">

<!-- about us -->
<section class="section" style="padding-top:1px;padding-bottom: 5px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img class="img-fluid w-100" src="static/home/images/about/Tree aboutus.png" alt="about">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">About STEPS</h2>
                <p class="h3 mb-4">We are an online educational platform of Bangladesh by which we are spreading light of education through the window of every student.</p>
                <a href="{% url 'about' %}" class="btn btn-primary btnpx">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- /about us -->
<hr class="style13">
<!-- Mentors -->
<section class="section" style="padding-top:20px;padding-bottom: 5px;">
    <div class=" container ">
        <div class="row align-items-center ">
            <div class="col-md-6">
                <img class="img-fluid" src="static/home/images/homementors.png " alt="mentors">
            </div>
            <div class="col-md-6 ">
                <h2 class="section-title">Mentors</h2>
                <p class="h3 mb-4">We were the students of STEPS and now we are the mentors.</p>
                <a href="{% url 'teacher_hsc' %} " class="btn btn-primary btnpx">Mentors(HSC)</a>
                <a href="{% url 'teacher_ssc' %} " class="btn btn-primary btnpx">Mentors(SSC)</a>
            </div>

        </div>
    </div>
</section>
<!-- /Mentors -->
<hr class="style13">

<!-- Classroom -->
<section class="section " style="padding-top:5px;padding-bottom: 5px; ">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="section-title">Classroom</h2>
                <p class="h3 mb-4">Our classroom is free for all. You can come here anytime, learn through the lectures and get the Notes.</p>
                <a href="{% url 'courseListHsc' %} " class="btn btn-primary btnpx">Classroom(HSC)</a>
                <a href="{% url 'courseListSsc' %} " class="btn btn-primary btnpx">Classroom(SSC)</a>
            </div>
            <div class="col-md-6">
                <img class="img-fluid " src="static/home/images/homeclassroom.png " alt="classroom">
            </div>
        </div>
    </div>
</section>
<!-- /Classroom -->
<hr class="style13">

<!-- Blog -->
<section class="section" style="padding-top:20px;padding-bottom: 30px; ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-md-6">
                <img class="img-fluid" src="static/home/images/homeblog.png " alt="blog">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">Blog</h2>
                <p class="h3 mb-4">Want to share your talent? We have our own blog. You can express your talent here.</p>
                <a href="{% url 'post_blog' %} " class="btn btn-primary btnpx">Post</a>
            </div>
        </div>
    </div>
</section>
<!-- /Blog -->
<hr class="style13">

<section class="section " style="padding-top:5px;padding-bottom: 5px; ">
    <div class="container ">
        <h2 class="section-title ">Quote</h2>
        <div class="list-group-flush ">
            <div class="list-group-item ">
                <div class="row ">
                    <div class="col-sm-3 mt-2 ">
                        <img src="static/home/images/about/pv.jpg " class="w-100 " alt=" " style="border-radius: 50%; ">
                    </div>
                    <div class="col-sm-9 ">
                        <div class="blockquote-wrapper ">
                            <div class="blockquote ">
                                <h1>
                                    Either you take lesson from your fault or it will take you to do crime!
                                </h1>
                                <h4>&mdash;Faruque Parvej<br><em>CEO</em></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item ">
                <div class="row ">
                    <div class="col-sm-9 ">
                        <div class="blockquote-wrapper ">
                            <div class="blockquote ">
                                <h1>
                                    As success or failure is relative by our perception, find your own definition!
                                </h1>
                                <h4>&mdash;Raqib Hossain Rony<br><em>CEO</em></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-2 ">
                        <img src="static/home/images/about/ronybhai.jpg " class="w-100 " alt=" " style="border-radius: 50%; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
<!-- /footer -->