{% extends 'home/base.html' %} {% block nav_item_gallery %}active{% endblock nav_item_gallery %} {% load static %} {% block content %}
<style>
    .im {
        height: 200px;
        width: 300px;
    }
</style>
<div>
    <div class="card rounded-3 shadow">
        <img class="card-img-top " src="{% static 'home/images/gallerybackground.png' %}" alt="">
    </div>
</div>

<section>
    <div class="container mb-4 h-100">
        <div class="row">
            <div class="col-12">
                <!-- teacher category list -->
                <ul class="list-inline text-center filter-controls mb-5">
                    <li class="list-inline-item m-3 text-uppercase active" data-filter="all">All</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="Tour">Tour</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="Iftar">Iftar</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="Farewell">Farewell</li>
                </ul>
            </div>
        </div>
        <div class="row filtr-container">
            {% for gallery in galleries %}
            <div class="col-sm-12 col-lg-4 mb-2 filtr-item" data-category="{{ gallery.gallery_type }}">
                <a href="{% url 'gallerysingle' gallery.id %}">
                    <!-- Card Wider -->
                    <div class="card h-100 shadow">
                        <div class="">
                            <img class="card-img-top" src="{{ gallery.gallery_thumbnail.url }}" alt="Card image cap" style="width: 338px; height: 250px;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-text">{{ gallery.gallery_name }}</h3>
                        </div>
                    </div>
                    <!-- Card Wider -->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock content %}