{% extends 'home/base.html' %} {% block content %} {% load static %}
<script>
     sessionStorage.setItem("Page2Visited", "True");
</script>   
<div>
    <div class="card rounded-3 shadow">
        <img class="card-img-top " src="{% static 'home/images/blogbackground.png' %}" alt="">
    </div>
</div>

<!-- blog details -->
<section class="section-sm bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-inline">
                    <h2>{{ object.title }}</h2>
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="fa fa-user" aria-hidden="true"></i> {{ object.name }}</li>
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="fa fa-calendar" aria-hidden="true"></i> {{ object.date }}</li>
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ object.time }}</li>
                </ul>
            </div>
            <!-- border -->
            <div class="col-12 mt-4">
                <div class="border-bottom border-primary"></div>
            </div>
            <!-- blog contect -->
            <div class="col-12 mb-5">
                <img src="{{ object.image.url }}" alt="blog-thumb" class="img-fluid mt-2 ml-2 w-50" style="float:right">
                <p>{{ object.content }}</p>

            </div>
        </div>
    </div>
</section>
<!-- /blog details -->



{% endblock %}