{% extends 'home/base.html' %} 
{% block nav_item_blog %}active{% endblock nav_item_blog %}
{% block content %} {% load static %}
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'home/images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Our Blog</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
        <div>
            <a href="{% url 'post_blog' %}" class="btn btn-primary btn-sm">Add blog</a>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- blogs -->
<section class="section">
    <div class="container">
        {% for posts in postlist %}
        <!-- post card -->
        <div class="row">
            <div class="card border border-2 shadow">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row mb-1 mt-1 ml-1">
                            <img class="card-img-top rounded-10" style="height: auto;width: 98%;" src="{{ posts.image.url }}" alt="teacher">
                        </div>
                    </div>
                    <div class="col-sm-7 border-right mb-1 mt-1">
                        <div>
                            <h3>{{ posts.title }}</h3>
                        </div>
                        <div>
                            <p>{{ posts.content|slice:":200" }} . . .</p>
                        </div>
                        <div>
                            <a href="{% url 'blog_single' posts.id %}" class="btn btn-primary btn-sm">read more</a>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-1 mb-1">
                        <div class="row mt-2">
                            <div class="col-sm-1 ml-1">
                                <div class="row">
                                    <h5><i class="fa fa-user" aria-hidden="true"></i></h5>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <h5>{{ posts.name }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-1 ml-1">
                                <div class="row">
                                    <h5><i class="fa fa-address-card" aria-hidden="true"></i></h5>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <p class="h5">{{ posts.institute }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-1 ml-1">
                                <div class="row">
                                    <h5><i class="fa fa-calendar" aria-hidden="true"></i></h5>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <p class="h5">{{ posts.date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-1 ml-1">
                                <div class="row">
                                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i></h5>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <p class="h5">{{ posts.time }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- endpost -->
        <hr> {% endfor %}

    </div>
</section>
<!-- /blogs -->
{% endblock content %}