{% extends 'home/base.html' %} {% block content %} {% load static %}
<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item h2 text-primary font-secondary">Our Blog</li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Blog Details</li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- blog details -->
<section class="section-sm bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-inline">
                    <h2>{{ object.title }}</h2>
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="fa fa-user" aria-hidden="true"></i> {{ object.name }}</li>
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="fa fa-calendar" aria-hidden="true"></i> {{ object.date }}</li>
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ object.time }}</li>
                </ul>
            </div>
            <!-- border -->
            <div class="col-12 mt-4">
                <div class="border-bottom border-primary"></div>
            </div>
            <!-- blog contect -->
            <div class="col-12 mb-5">
                <img src="{{ object.image.url }}" alt="blog-thumb" class="img-fluid mt-2 ml-2 w-50" style="float:right">
                <p>{{ object.content }}</p>

            </div>
        </div>
    </div>
</section>
<!-- /blog details -->



{% endblock %}