{% extends 'home/base.html' %} {% block content %}
<style>
    .hv:hover {
        background: #ffbb00;
        transform: scale(1.1);
    }
    
    .h:hover {
        color: rgb(255, 255, 255);
    }
    
    .card {
        border-radius: 10em;
    }
</style>


<section class="page-title-section bg-cover overlay" data-background="{{ coursename.background.url }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <ul class="list-inline custom-breadcrumb mt-5">
                    <li class="list-inline-item h2 text-primary font-secondary">Classroom</li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"> {{ coursename.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div>
    <div class="container mt-2">
        {% for chapter in chapters %}
        <div class="card shadow hv">
            <div class="row" align="center">
                <div class="col-sm-12 border-left border-right">
                    <a href="{% url 'topiclist' chapter %}">
                        <h1 class="h">{{ chapter.name_of_chapter }}</h1>
                    </a>
                </div>
            </div>
        </div>
        <hr> {% endfor %}
    </div>
</div>


{% endblock %}