{% extends 'home/base.html' %} {% block nav_item_course %}active{% endblock nav_item_course %} {% load static %} {% block content %}
<style>
    .card {
        border-radius: 3%;
        background-color: #f9fcff;
    }
</style>
<!-- page title -->
<div class="card rounded shadow">
    <img class="card-img-top " src="{% static 'home/images/classroombackground.png' %}" alt="">
</div>
<!-- <section class="section bg-cover" data-background="{% static 'home/images/classroombackground.png' %}" style="margin-top: -1pt;">

</section> -->

<!-- /page title -->

<!-- courses -->
<section class="section" style="padding-top: 5px;">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <!-- course category list -->
                <ul class="list-inline text-center filter-controls mb-5">
                    <li class="list-inline-item m-3 text-uppercase active" data-filter="all">All</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="SCIENCE">SCIENCE</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="BUSINESS STUDIES">BUSINESS STUDIES</li>
                    <li class="list-inline-item m-3 text-uppercase" data-filter="ENGLISH">English</li>
                    {% if flag %}
                    <li class="list-inline-item m-3 text-uppercase" data-filter="ICT">ICT</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- course list -->
        <div class="row filtr-container">
            <!-- course item -->
            {% for course in course_list %}
            <div data-category="{{ course.dept }}" class="col-lg-6 col-sm-3 mb-5 filtr-item">
                <div class="card p-0 border-primary shadow ">
                    <img class="card-img-top " src="{{ course.thumbnail.url }}" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">{{ course.dept }}</li>
                        </ul>
                        <a href="{% url 'chapterlist' course.id %}">
                            <h4 class="card-title">{{ course.name }}</h4>
                        </a>
                        <p class="card-text mb-4"> {{ course.short_details }}</p>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}

            <!-- /course list -->
        </div>
    </div>
</section>
<!-- /courses -->

{% endblock content %}