{% extends 'home/base.html' %} {% block content %}

<style>
    .list-type2 {
        width: 400px;
        margin: 0 auto;
    }
    
    .list-type2 ol {
        counter-reset: li;
        list-style: none;
        *list-style: decimal;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        padding: 0;
        margin-bottom: 4em;
    }
    
    .list-type2 ol ol {
        margin: 0 0 0 2em;
    }
    
    .list-type2 a {
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #FC756F;
        color: #444;
        text-decoration: none;
        transition: all .2s ease-in-out;
    }
    
    .list-type2 a:hover {
        background: #d6d4d4;
        text-decoration: none;
        transform: scale(1.1);
    }
    
    .list-type2 a:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #FC756F;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        color: #FFF;
    }
    
    .lit:hover {
        font-style: italic;
    }
</style>

<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">Our Courses</a>
                    </li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"><a href="{% url 'chapterlist' coursename %}" class="text-white lit">{{ coursename }}</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">{{ chaptername }}</li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>

<div class="list-group ">
    <div class="list-type2">
        <ol>
            {% for topic in topics %}
            <li><a href="{% url 'topicsingle' topic.name_of_topic %}">{{ topic.name_of_topic }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}