{% extends 'home/base.html' %} {% block content %}
<style>
    .h:hover {
        color: #ffbb00;
    }
    
    .h {
        color: cornsilk;
    }
    
    .card {
        background-color: rgb(19, 19, 65);
    }
    
    .hv:hover {
        background-color: rgb(255, 255, 255);
        transform: scale(1.1)
    }
</style>


<section class="page-title-section bg-cover overlay" data-background="{{ coursename.background.url }}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="courses.html">Our Courses</a>
                    </li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"><a href="{% url 'chapterlist' coursename %}" class="text-white lit">{{ coursename }}</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">{{ chaptername }}</li>
                </ul>
                <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<div>
    <div class="container mt-2">
        {% for topic in topics %}
        <div class="card rounded-5 border-primary shadow hv">
            <div class="row" align="center">
                <div class="col-sm-12 border-left border-right">
                    <a href="{% url 'topicsingle' topic.name_of_topic %}">
                        <h1 class="h">{{ topic.name_of_topic }}</h1>
                    </a>
                </div>
            </div>
        </div>
        <hr> {% endfor %}
    </div>
</div>

{% endblock %}